[Unit]
Description=logstash

[Service]
Type=simple
User=logstash
Group=logstash

Restart=always
WorkingDirectory=/
Nice=19
LimitNOFILE=16384

# When stopping, how long to wait before giving up and sending SIGKILL?
# Keep in mind that SIGKILL on a process can cause data loss.
TimeoutStopSec=infinity

EnvironmentFile=-/etc/default/logstash
EnvironmentFile=-/etc/sysconfig/logstash

ExecStart={{ logstash_bin }} "--path.settings" "/etc/logstash"
WorkingDirectory=/etc/logstash

# allow logstash to listen to ports below 1024, eg syslog 514
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
